In [1]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\joana\appdata\local\programs\python\python312\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\joana\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.1)
Requirement already satisfied: scipy>=1.5.0 in c:\users\joana\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.11.3)
Requirement already satisfied: joblib>=1.1.1 in c:\users\joana\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\joana\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\joana\appdata\local\programs\python\python312\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\joana\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
import pandas as pd
from sklearn.metrics import (
        make_scorer,
        confusion_matrix, 
        cohen_kappa_score, 
        accuracy_score, 
        precision_score, 
        recall_score, 
        f1_score, 
        roc_auc_score
)
from sklearn.model_selection import cross_validate, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier # decision trees for classification
from sklearn.neural_network import  MLPClassifier # neural networks for classification
from sklearn.naive_bayes import GaussianNB # naive bayes for classification
from sklearn.svm import SVC # support vector machines for classification

In [5]:
def specificity_score(y_true, y_pred):
    tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
    return tn / (tn+fp)

In [6]:
METRICS = {
        "accuracy": make_scorer(accuracy_score),
        "precision": make_scorer(precision_score),
        "recall": make_scorer(recall_score),
        "f1": make_scorer(f1_score),
        "AUC": make_scorer(roc_auc_score, needs_proba=True),
        "specificity": make_scorer(specificity_score),
        "kappa":make_scorer(cohen_kappa_score)
}

In [7]:
# Carregar o conjunto de dados
d = pd.read_excel("C4_resultadofim.xlsx")
d

      battery_power  px_height  px_width   ram  price_range
0              1843        118       580  3213            2
1              1424       1399      1663  1053            1
2              1844        533       882  1724            1
3              1501        198      1056  2487            2
4              1976        652      1933  2470            2
...             ...        ...       ...   ...          ...
1581            712        881      1234  3612            2
1582           1664       1178      1929  1968            2
1583           1375        475       726  3869            2
1584           1910        985      1284   309            1
1585            831       1482      1490  2573            2

[1586 rows x 5 columns]

In [8]:
X, y = d.drop("price_range", axis=1), d["price_range"]
d

      battery_power  px_height  px_width   ram  price_range
0              1843        118       580  3213            2
1              1424       1399      1663  1053            1
2              1844        533       882  1724            1
3              1501        198      1056  2487            2
4              1976        652      1933  2470            2
...             ...        ...       ...   ...          ...
1581            712        881      1234  3612            2
1582           1664       1178      1929  1968            2
1583           1375        475       726  3869            2
1584           1910        985      1284   309            1
1585            831       1482      1490  2573            2

[1586 rows x 5 columns]

In [9]:
splitter = StratifiedKFold(n_splits=10, shuffle=True, random_state=1234)

In [10]:
svm = SVC(random_state=1234, probability=True)
scores_svm = cross_validate(svm, X, y, cv=splitter, scoring=METRICS)
svm_scores = pd.DataFrame(scores_svm)
pd.DataFrame(svm_scores.mean()).T

,fit_time,score_time,test_accuracy,test_precision,test_recall,test_f1,test_AUC,test_specificity,test_kappa
0,0.078271,0.022599,0.982979,0.975375,0.991187,0.983158,0.999079,0.991187,0.965956